<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="https://www.ada.fu-berlin.de/_media/ADA_Logo_Rot_TextSeite_KeinRand1.png"  width="350rem">        
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="{% url 'index' %}" class="nav-link {% if active == 'index' %} active {% endif %}">Manifest-Link-Generator</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Manifest-Requester</a></li>

      <li class="nav-item"><a href="{% url 'manifest_list' %}" class="nav-link {% if active == 'manifest_list' %} active {% endif %}">Manifest-List</a></li>
      <li class="nav-item"><a target="_blank" href="https://github.com/users-pc/Ada-Humboldt-Hack.git" class="nav-link">Github</a></li>
    </ul>
  </header>